$blue_one: #2534f1;
$blue_two: #1a3163;
$blue_three: #1d59b3;
$white_one: #f2f2fc;
$white_two: #e1e0e5;
$white_three: #f4f7fb;
$white_four: #ededed;
$white_five: #fcf2f6;

$white: #ffffff;
$red_one: #c70f1a;
$green_one: #1df9bb;
$green_two: rgba(29, 249, 187, 0.2);
$gray_one: #64728d;
$linear_one: linear-gradient(289deg, #25e750 0%, #abf44e 100%);
$linear_two: linear-gradient(289deg, #e72548 0%, #f4bc4e 100%);
$linear_three: linear-gradient(180deg, #5ac8f6 0%, #26a7e7 100%);
$linear_four: linear-gradient(180deg, #f9b0f8 0%, #d14fc5 100%);
$linear_five: linear-gradient(180deg, #81f66e 0%, #35b829 100%);
$linear_six: linear-gradient(180deg, #f6df5a 0%, #e78b27 100%);
$black_one: #232323;
$purple: #b12fa5;
$orange: #aa5c00;
$green_three: #138c08;
