.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 3px solid $blue_three;
  background: $linear_three;
  width: 56px;
  height: 41px;
  color: $blue_three;
  cursor: pointer;

  &.purple {
    color: $purple;
    border: 3px solid $purple;
    background: $linear_four;
  }
  &.green {
    color: $green_three;
    border: 3px solid $green_three;
    background: $linear_five;
  }
  &.yellow {
    color: $orange;
    border: 3px solid $orange;
    background: $linear_six;
  }

  p {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    text-transform: capitalize;
  }
}
