.dashboard {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-image: url("./../../assets/img/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0 32px;
  padding-bottom: 300px;

  @include __element(header) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    width: 100%;
    padding: 16px 0;
    @include __element(name) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: stretch;
      p {
        font-family: Black Ops One;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 0;
        margin-left: 16px;
      }
    }
    @include __element(message) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: stretch;
    }
  }
  @include __element(header-card) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    border-radius: 50px;
    position: relative;
    &.light {
      border: 1px solid $green_one;
      box-shadow: 0px 3px 8px 0px $green_two inset;
    }
    background: $white;
    height: 45px;
    padding: 0 8px 0 16px;
    p {
      margin-right: 4px;
      direction: rtl;
      text-align: right;
    }
    &.left {
      margin-right: 16px;
    }
    &.user {
      position: absolute;
    }
    img {
      &.diamond {
        position: absolute;
        right: -7px;
      }
    }
  }
  @include __element(create-program) {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: stretch;
    div {
      margin-right: 16px;
    }
    p {
      &.title {
        color: $blue_two;
        text-align: right;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        text-transform: capitalize;
        margin: 0 0;
      }
      &.description {
        color: $gray_one;
        text-align: right;
        font-family: IRANYekanX;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        text-transform: capitalize;
        margin: 0 0;
      }
    }
  }
  @include __element(box) {
    padding: 32px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 17px;
    align-self: stretch;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 32px;
    @include __element(name) {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-end;
      align-content: stretch;
    }
    @include __element(programs) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-end;
      align-content: stretch;
      width: 100%;
    }
    @include __element(program-wrapper) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;
      width: fit-content;
      margin-bottom: 8px;
      .section {
        width: 580px;
        padding: 4px 16px 4px 9px;
        border-radius: 5px;
        border: 3px solid $white_two;
        background: $white_one;
        height: 37px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        margin-right: 8px;
        @include __element(rigth-section) {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          align-content: stretch;
          width: fit-content;
          .name {
            color: $gray_one;
            text-align: right;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 21px;
            text-transform: capitalize;
          }
        }
      }
    }
    @include __element(program-labels) {
      display: flex;
      padding: 2px 10px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      height: 25px;
      margin-left: 8px;
      &.active {
        background: $linear_one;
      }
      &.deactive {
        background: $linear_two;
      }
      p {
        color: $white;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
        text-transform: capitalize;
      }
    }
  }
  @include __element(create-new) {
    width: 345px;
    padding: 4px 16px 4px 9px;
    border-radius: 5px;
    border: 3px solid $white_two;
    background: $white;
    height: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
  }
  @include __element(formula) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: stretch;
    @include __element(title) {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: stretch;
      p {
        color: $black_one;
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        text-transform: capitalize;
        margin: 0;
      }
      img {
        margin-left: 16px;
      }
    }
    @include __element(parent) {
      display: flex;
      min-width: 900px;
      padding: 16px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 16px;
      border-radius: 8px;
      border: 1px solid $white_two;
      background: $white_three;
      margin-top: 16px;
      .cloning {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: stretch;
        width: 100%;
        .desc {
          color: $black_one;
          text-align: right;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
          text-transform: capitalize;
          white-space: nowrap;
        }
      }
      .drag-wrapper {
        display: flex;
        padding: 16px;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;
        border-radius: 4px;
        background: $white_four;
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15) inset;
        width: 100%;
        margin-right: 8px;
        &.third {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          align-content: stretch;
          .title {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: stretch;
            width: 100%;
            direction: rtl;
            text-align: right;
            img {
              cursor: pointer;
            }
          }
          .dragable-content {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            align-content: stretch;
            min-height: 100px;
            .label {
              margin: 0 6px;
            }
          }
          .formula {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
            align-content: stretch;
            img {
              &.equl {
                margin: 0 8px 3px 16px;
              }
            }
          }
        }
      }
    }
  }
  @include __element(buttons) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    width: 100%;
  }
}
