.input {
  border-radius: 5px;
  border: 3px solid #e1e0e5;
  background: #fff;
  padding: 12px 16px;
  color: #1d59b3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  text-transform: capitalize;
  direction: rtl;
  width: 345px;
  height: 21px;
}
