.input {
  border-radius: 5px;
  border: 3px solid $white_two;
  background: $white;
  padding: 12px 16px;
  color: $blue_three;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  text-transform: capitalize;
  direction: rtl;
  width: 345px;
  height: 21px;
}
