.button_one {
  display: flex;
  padding: 0 16px;
  height: 30px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid $red_one;
  background: #fcf2f6;
  p {
    color: $red_one;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    text-transform: capitalize;
  }
  &.add {
    border: 1px solid $blue_one;
    p {
      color: $blue_one;
    }
  }
}
