.button_two {
  display: flex;
  width: 114px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid $blue_one;
  background: $white_one;
  height: 37px;

  p {
    color: $blue_one;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &.non_border {
    border: none;
  }
}
